<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/configuracion']" aria-label="Boton para ingresar a las configuraciones">
        <ion-icon icon="settings-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%;" class="ion-justify-content-center ion-align-items-center">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col *ngIf="citaRandom && !showRandomCita" size="12" size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="color: dodgerblue;">
              {{ citaRandom.texto }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: right; color: black;">
            <strong>{{ citaRandom.autor }}</strong>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/gestion-de-citas']" aria-label="Boton para ingresar a la gestion de citas">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/configuracion']" aria-label="Boton para ingresar a las configuraciones">
        <ion-icon icon="settings-outline" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ul>
    <li *ngFor="let c of citas">{{ c.texto }} - <strong>{{ c.autor }}</strong></li>
  </ul>
</ion-content>
 -->