<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
      <ng-container *ngFor="let c of citasL">
        <ion-card style="padding: 10px;">
          <ion-grid>
            <ion-row class="ion-align-items-center ion-justify-content-between">

              <ion-col>
                <ion-text color="dark">
                  {{ c.texto }}
                </ion-text>
                <ion-card-content class="ion-text-end" style="padding: 0;">
                  <ion-text>
                    {{ c.autor }}
                  </ion-text>
                </ion-card-content>
              </ion-col>

              <ion-col size="auto" class="ion-text-end">
                <ion-buttons>
                  <ion-button [disabled]="!enabledDelete" (click)="onClickEliminar(c.id ?? 0)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>