<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="10" size-md="8" size-lg="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Crea una nueva cita</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-input [(ngModel)]="textoStr" #citaInput="ngModel" required="required" type="text"
                pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$" minlength="5" label="Cita" labelPlacement="floating">
              </ion-input>
            </ion-item>
            <ion-text [hidden]="citaInput.valid || citaInput.pristine" color="danger">
              Escriba una cita de 5 o más letras!
            </ion-text>

            <ion-item>
              <ion-input [(ngModel)]="autorStr" #autorInput="ngModel" required="required" type="text"
                pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$" minlength="2" label="Autor" labelPlacement="floating"
                placeholder="Kurt Cobain">
              </ion-input>
            </ion-item>
            <ion-text [hidden]="autorInput.valid || autorInput.pristine" color="danger">
              Escriba un autor de 2 o más letras!
            </ion-text>
          </ion-list>

          <ion-button (click)="onClickAgregar()" [disabled]="!citaInput.valid || !autorInput.valid" fill="clear" expand="block"
            class="ion-align-self-start ion-margin-top">
            AGREGAR +
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>