<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" aria-label="Boton para regresar a la pagina de inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-citas-form (citaCreate)="onCreateCita({texto: $event.texto, autor: $event.autor})"/>
  <app-citas-list [citasL]="citasGdc" (citaDelete)="onDeleteCita($event.id)"/>
</ion-content>